/*
  基础的全局样式
*/
* {
  box-sizing: border-box;
}
body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

.g-relative {
  position: relative;
}

.icon {
  width: 34px;
  height: 34px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}
