.container {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
  .header {
    background-color: #FBFBFB;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    .left {
      flex-basis: 40%;
      font-size: 15px;
      display: flex;
      align-items: center;
      font-weight: bold;
      .week {
        margin-left: 5px;
      }
    }
    .right {
      font-size: 14px;
      flex-basis: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .expense {
        span:nth-of-type(1) {
          padding: 2px;
          font-size: 12px;
          color: #AFAFAF;
          background-color: #F3F3F3;
          margin-right: 5px;
        }
      }
      .income {
        margin-left: 20px;
        span:nth-of-type(1) {
          padding: 2px;
          font-size: 12px;
          color: #AFAFAF;
          background-color: #F3F3F3;
          margin-right: 5px;
        }
      }
    }
  }

  .bills {
    .bill {
      display: flex;
      padding: 10px 20px;
      box-sizing: border-box;
      .right {
        margin-left: 10px;
        flex-basis: 80%;
        flex-grow: 1;
        font-size: 16px;
        .top {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .bottom {
          color: #B3B3B3;
          .time {
            margin-right: 10px;
          }
        }
      }
    }
  }
}