.home {
  background-color: #EDEDED;
  padding-top: 80px;
  .header {
    z-index: 100;
    box-sizing: border-box;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: $color-theme;
    padding: 20px 8px 0 8px;
    box-sizing: border-box;
    font-size: 15px;
    .bottom {
      display: flex;
      margin-left: 10px;
      margin-top: 20px;
      font-size: 14px;
      .left {
        margin-right: 10px;
        .time {
          margin-right: 3px;
        }
      }
      .right {
        flex: 1;
        display: flex;
        .income {
          margin-left: 10px;
        }
      }
    }
    .top{
      display: inline;
      background-color: #45b370;
      border-radius: 5px;
      padding: 10px;
    }
  }

  .list {
    height: calc(100vh - 120px);
    font-size: 12px;
    padding: 8px;
    overflow-y: scroll;
  }


  .add {
    position: fixed;
    font-size: 14px;
    font-weight: bold;
    bottom: 100px;
    right: 30px;
    z-index: 1000;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1PX solid #e9e9e9;
    color: $color-theme;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}