.container {
  background-color: #f9f9f9;
  height: 500px;
  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 56px;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.9);
    background-color: #fff;

    .cross {
      position: absolute;
      right: 10px;
      top: 50%;
      font-size: 20px;
      transform: translateY(-50%);
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .content {
    padding: 20px;

    .all {
      display: inline-block;
      padding: 12px 20px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.9);
      background-color: #fff;
    }

    .title {
      color: rgba(0, 0, 0, 0.9);
      margin: 10px 0;
      font-size: 14px;
    }

    .expense-wrap,.income-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      p {
        text-align: center;
        padding: 12px 0;
        background-color: #fff;
        font-size: 16px;
      }
    }

    .active {
      background-color: $color-theme !important;
      color: #fff;
    }
  }
}