.header-warp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 46px;
  background-color: #ffffff;
  .block {
    width: 100%;
  }

  .header {
    .more {
      font-size: 20px;
    }
  }
}