.detail {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  padding: 12px 24px 0 24px;
}

.card {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;
  .type {
    padding: 24px 0 12px 0;
    font-size: 16px;
    span:nth-of-type(1) {
      display: inline-block;
      width: 22px;
      height: 22px;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      margin-right: 8px;
      svg {
        font-size: 12px;
      }
    }
    span:nth-of-type(2) {
      font-size: 14px;
    }

    .expense {
      background-color: $color-theme;
    }

    .income {
      background-color: $color-theme-d;
    }

  }

  .amount {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .info {
    width: 100%;
    font-size: 14px;
    text-align: left;

    .time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;

      span:nth-of-type(1) {
        flex: 3;
        color: rgba(0, 0, 0, 0.5)
      }

      span:nth-of-type(2) {
        flex: 9;
      }
    }

    .remark {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;

      span:nth-of-type(1) {
        flex: 3;
        color: rgba(0, 0, 0, 0.5)
      }

      span:nth-of-type(2) {
        flex: 9;
        color: rgba(0, 0, 0, 0.9)
      }
    }
  }

  .operation {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex: 1
    }

    span:nth-of-type(1) {
      color: red;
    }
  }
}

:global(.adm-dialog-action-row) {
  button:nth-of-type(1) {
    color: #3b3b3b;
  }

  button:nth-of-type(2) {
    color: #f63940;
  }
}