.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  --adm-color-primary: #35AA62;
}

.top {
  flex: 0;
  border-bottom: solid 1px var(--adm-color-border);
}

.body {
  flex: 1;
  flex-basis: calc(100vh - 50px);
}

.bottom {
  border-top: solid 1px var(--adm-color-border);
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}